<%# search popover modal with turbo frame %>
<div class="animate-popover-in z-10" data-controller="modal" id="search_popover">
  <div class=" rounded-lg drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)] absolute top-20 right-4 sm:right-24 w-80 sm:w-96 h-auto bg-white border-[1px] border-gray-100 px-4 pb-4">
    <div class="flex flex-col">
      <% if results.length() > 0 then %>
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block max-w-full py-2 align-middle md:px-6 lg:px-8">
            <table class="min-w-20">
              <tbody>
                <% results.each_with_index do |result, index| %>
                  <% unless result["album"]["images"].empty? %>

                    <tr class="search-result search-result-0">
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0 w-80">
                        <div class="flex flex-row gap-4 items-center">
                          <%= image_tag result["album"]["images"][2]["url"], :class => "h-12 w-12", alt: "#{result["name"]} album art" %>  
                          <div class="flex flex-col">
                            <div class="text-sm font-medium text-black w-32"><%= result["name"].truncate(25) %></div>
                            <div class="text-sm text-gray-400"><%= result["artists"][0]["name"].truncate(25)%></div>
                          </div>
                        </div>
                      </td>      
                      <td class="whitespace-nowrap py-4 px-1 text-sm text-black">
                        <%= form_with model: @song, url: '/song', method: :post do |form| %>
                          <%= form.hidden_field :name, value: result["name"] %>
                          <%= form.hidden_field :artist_name, value: result["artists"][0]["name"] %>
                          <%= form.hidden_field :artist_spotify_id, value: result["artists"][0]["id"] %>
                          <%= form.hidden_field :art_url, value: result["album"]["images"][0]["url"] %>
                          <%= form.hidden_field :icon_url, value: result["album"]["images"][2]["url"] %>
                          <%= form.hidden_field :spotify_id, value: result["id"] %>
                          <%= form.hidden_field :released, value: result["album"]["release_date"] %>
                          <% if previously_added_songs.where(spotify_id: result["id"]).exists? %>
                            <%= render "search/search_result_icon_loaded", spotify_id: result["id"] %>
                          <% else %>
                            <%= render "search/plus_icon", spotify_id: result["id"] %>
                          <% end %>  
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <div class="flex justify-center pt-4">
              <%= link_to "View all results", search_path(query: query), class: "text-sm text-gray-400 hover:text-gray-500" %>
            </div>
          </div>
        </div>
      <%else%>
        <div class="fade-in flex flex-col items-center justify-center pt-4">
          <p class="text-sm text-gray-400">No results found</p>
        </div>
      <%end%>
    </div>
  </div>
</div>

         

