
<div class="animate-popover-in  z-10" data-controller="modal" id="search_popover">
  <div class=" rounded-lg drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)] absolute top-20 right-4 sm:right-24 w-80 sm:w-96 h-auto bg-white border-[1px] border-gray-100 px-4 pb-4">
    <div class="flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block max-w-full py-2 align-middle md:px-6 lg:px-8">
            <table class="min-w-20">
              <tbody>
				<tr>
					<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0 w-80">
					<div class="flex flex-row gap-4 items-center">
					<div class="h-12 w-12 bg-gray-300 shimmer"></div>
						<div class="flex flex-col">
							<div class="pb-4 text-sm font-medium text-black h-3 w-16 bg-gray-200 shimmer"></div>
							<div class="mt-2 text-sm h-3 w-32 bg-gray-300 shimmer"></div>
						</div>
					</div>
					</td>      
					<td class="invisible whitespace-nowrap py-4 px-1 text-sm text-black ">
						<%= render "search/search_result_icon_loaded", spotify_id: nil %>
					</td>
				</tr>
				<tr>
					<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0 w-80">
					<div class="flex flex-row gap-4 items-center">
					<div class="h-12 w-12 bg-gray-300 shimmer"></div>
						<div class="flex flex-col">
							<div class="pb-4 text-sm font-medium text-black h-3 w-16 bg-gray-200 shimmer"></div>
							<div class="mt-2 text-sm h-3 w-32 bg-gray-300 shimmer"></div>
						</div>
					</div>
					</td>      
					<td class="invisible whitespace-nowrap py-4 px-1 text-sm text-black ">
						<%= render "search/search_result_icon_loaded", spotify_id: nil %>

					</td>
				</tr>
				<tr>
					<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0 w-80">
					<div class="flex flex-row gap-4 items-center">
					<div class="h-12 w-12 bg-gray-300 shimmer"></div>
						<div class="flex flex-col">
							<div class="pb-4 text-sm font-medium text-black h-3 w-16 bg-gray-200 shimmer"></div>
							<div class="mt-2 text-sm h-3 w-32 bg-gray-300 shimmer"></div>
						</div>
					</div>
					</td>      
					<td class="invisible whitespace-nowrap py-4 px-1 text-sm text-black ">
						<%= render "search/search_result_icon_loaded", spotify_id: nil %>

					</td>
				</tr>
				<tr>
					<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0 w-80">
					<div class="flex flex-row gap-4 items-center">
					<div class="h-12 w-12 bg-gray-300 shimmer"></div>
						<div class="flex flex-col">
							<div class="pb-4 text-sm font-medium text-black h-3 w-16 bg-gray-200 shimmer"></div>
							<div class="mt-2 text-sm h-3 w-32 bg-gray-300 shimmer"></div>
						</div>
					</div>
					</td>      
					<td class="invisible whitespace-nowrap py-4 px-1 text-sm text-black ">
						<%= render "search/search_result_icon_loaded", spotify_id: nil %>

					</td>
				</tr>
				<tr>
					<td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0 w-80">
					<div class="flex flex-row gap-4 items-center">
					<div class="h-12 w-12 bg-gray-300 shimmer"></div>
						<div class="flex flex-col">
							<div class="pb-4 text-sm font-medium text-black h-3 w-16 bg-gray-200 shimmer"></div>
							<div class="mt-2 text-sm h-3 w-32 bg-gray-300 shimmer"></div>
						</div>
					</div>
					</td>      
					<td class="invisible whitespace-nowrap py-4 px-1 text-sm text-black ">
						<%= render "search/search_result_icon_loaded", spotify_id: nil %>

					</td>
				</tr>
              </tbody>
            </table>
            <div class="flex justify-center pt-4 w-full">
				<p class="text-sm text-gray-400 hover:text-gray-500"> View all results </p>
            </div>
          </div>
	</div>
</div>


