<%= render layout: "layouts/page" do %>
	<% if @tracked_song then %>
		<div class="w-full flex flex-col gap-y-4 items-center min-h-screen -mt-16 justify-center">
			<%= image_tag @tracked_song.song.art_url, class: "h-80 w-80 shadow-lg", alt: "#{@tracked_song.song.name} album art" %>
			<div class="flex flex-col items-center">
				<div class= "text-xl font-medium">
					<%= @tracked_song.song.name %>
				</div>
				<div class="text-gray-600">
					<%= @tracked_song.song.artist %>
				</div>
			</div>
			<%= button_to "Untrack this song", update_tracked_song_path(@tracked_song), class: "text-red-700 font-bold", aria: { label: "remove from leaderboard"}, method: :delete %>
			<%= button_to "Archive song", archive_tracked_song_path(@tracked_song), class: "text-black font-medium", method: :patch, params: { tracked_song: { archived: true } }, aria: { label: "archive"} %>
		</div>
	<% else %>
		<div>No song found.</div>
	<% end %>
<%end%>
