<div id="leaderboard_table">
	<table class="min-w-full divide-y divide-gray-300">
		<thead>
			<tr>
				<th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-black sm:pl-6 md:pl-0">
					<%= render "songs/table_header", name: "name", title: "Song" %>
				</th>
				<th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-black">
					<%= render "songs/table_header", name: "daily_streams", title: "Daily Streams" %>
				</th>
				<th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-black">
					<%= render "songs/table_header", name: "genres", title: "Genre" %>
				</th>
				<th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-black">
					<%= render "songs/table_header", name: "status", title: "Status" %>
				</th>
				<% if is_label then %>
					<th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-black">
						<%= render "songs/table_header", name: "added_by", title: "Added by" %>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody id="<%= is_label ? "label_table" : "user_table" %>" class="divide-y divide-gray-200">
			<% if songs.empty? then %>
				<tr><td><div class="mt-4">No songs added</div></td></tr>
			<% else %>
				<% songs.each do |song| %>
					<%= render "songs/song", user: user, song: song, is_label: is_label, animate_in: false %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
