<%= turbo_frame_tag "songs" do %>
	<table class="min-w-full divide-y divide-gray-300">
		<thead>
			<tr>
				<th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-black sm:pl-6 md:pl-0">
					<%= render "songs/table_header", name: "name", label: "Song" %>
				</th>
				<th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-black">
					<%= render "songs/table_header", name: "daily_streams", label: "Daily Streams (total)" %>
				</th>
				<th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-black">
					<%= render "songs/table_header", name: "status", label: "Status" %>
				</th>
				<% if current_user.label_id then %>
					<th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-black">
						<%= render "songs/table_header", name: "added_by", label: "Added by" %>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody id="table" class="divide-y divide-gray-200">
			<% if songs.empty? then %>
				<tr><td><div class="mt-4">No songs added</div></td></tr>
			<% else %>
				<% songs.each do |song| %>
					<%= render "songs/song", user: current_user, song: song %>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>
