<div id="leaderboard_table" data-controller="stream-animation">
	<table class="min-w-full divide-y divide-gray-300" data-controller="leaderboard">
		<thead>
			<tr>
				<%= render "songs/table_header", title: "Song", name: "name" %>
				<%= render "songs/table_header", title: "Daily Streams", name: "daily_streams" %>
				<%= render "songs/table_header", title: "Genres", name: "genres" %>
				<%= render "songs/table_header", title: "Status", name: "status" %>
				<%= render "songs/table_header", title: "Last Action", name: "updated_at" %>
				<% if is_label then %>
					<%= render "songs/table_header", title: "Added by", name: "added_by" %>
				<% end %>
			</tr>
		</thead>
		<tbody id="<%= is_label ? "label_table" : "user_table" %>" class="divide-y divide-gray-200">
			<% if songs.empty? then %>
				<tr><td><div class="mt-4">No songs added</div></td></tr>
			<% else %>
				<% songs.each do |song| %>
					<%= render "songs/song", user: user, song: song, is_label: is_label, animate_in: false %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
