<% tracked_song = is_label ? song.tracked_songs.find_by(label_id: user.label_id) : song.tracked_songs.find_by(user_id: user.id) %>
<% latest_stream_event = song.song_request_events.where(data_requested: "streams").last %>
<% latest_genre_event = song.song_request_events.where(data_requested: "genres").last %>
<% unless tracked_song.nil? %>
<tr id="<%= dom_id(song) %>" class=<%= animate_in ? 'animate-element-in' : nil %>>
		<td class="whitespace-nowrap overflow-hidden py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0">
			<%= link_to "/tracked_song/#{tracked_song.id}" do %>
				<div class="flex flex-row gap-4 items-center justify-between group">
					<div class="flex flex-row gap-4 items-center">
						<%= image_tag song.art_url, :class => "h-12 w-12 shadow-lg", alt: "#{song.name} album art" %>
						<div class="flex flex-col gap-1">
							<p id="name_<%=dom_id(song)%>">
								<%= song.name.truncate(35) %>					
							</p>
							<p class="text-xs font-gray-500 font-light">
								<%= song.artist.truncate(40) %>
							</p>
						</div>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 opacity-0 transition group-hover:opacity-100 hidden sm:inline-block">
						<path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
					</svg>
				</div>
			<% end %>
		</td>

		<% if !latest_stream_event %>
			<td class="whitespace-nowrap overflow-hidden py-4 px-3 text-sm text-black" id="streams_<%=dom_id(song)%>">No data</td>
		<% elsif latest_stream_event.status == "unresolved" %>
			<%= render "songs/streams_loading", song: song %>
		<% else %>
			<%= render "songs/streams_col", song: song %>
		<% end %>

		<% if !latest_genre_event %>
			<td class="whitespace-nowrap overflow-hidden py-4 px-3 text-sm text-black" id="genres_<%=dom_id(song)%>">No data</td>
		<% elsif latest_genre_event.status == "unresolved" %>
			<%= render "songs/genres_loading", song: song %>
		<% else %>
			<%= render "songs/genres_col", song: song %>
		<% end %>

		<td class="whitespace-wrap py-4 px-3 text-sm text-black">
			<% options = get_status_options %> 
			<%= form_with(id: "status_#{dom_id(song)}", model: tracked_song, url: update_tracked_song_path(tracked_song), remote: :true, method: :patch, data: { controller: "authenticity auto-submit-status", action: "click->toggle#hide" }) do |f| %>
				<%= f.select :status, options_for_select(options, tracked_song.status), {}, { 
					id: "status_select_#{song.id}", 
					class: "border-0 bg-slate-100 rounded-full px-3 py-1 focus:ring-0 focus:outline-none focus:border-0 w-36 text-sm",
					data: { "auto-submit-status-target": "statusSelect" }
				}%> 
			<% end %> 
		</td>
		<% if is_label then %>
			<td id="added_by_<%= dom_id(song) %>" class="whitespace-wrap py-4 px-3 text-sm text-black"><%=User.find(tracked_song.user_id).name.split.map(&:first).join%></td>
		<% end %>
		<td class="whitespace-wrap py-4 px-3 text-sm text-black">
			<% if !is_label %>
				<% if tracked_song.label_id %>
					<div class="flex flex-row gap-1 items-center">
						<p class="text-sm font-medium">Label</p>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
							<path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
						</svg>
					</div>
				<% else %>
					<%= button_to add_tracked_song_to_label_path(tracked_song), aria: { label: "add song to label"}, data: { turbo_frame: "page", turbo_action: "advance" }, class: "flex flex-row gap-1 items-center", method: :post do %>
						<p class="text-sm font-medium">Label</p>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
							<path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
						</svg>
					<% end %>
				<% end %>
			<% end %>
		</td>
	</tr>
<% end %>