<% tracked_song = user.label_id ? song.tracked_songs.find_by(label_id: user.label_id) : song.tracked_songs.find_by(user_id: user.id) %>
<% latest_stream_event = song.stream_events.last %>
<tr id="<%= dom_id(song) %>">
  <td class="whitespace-nowrap overflow-hidden py-4 pl-4 pr-3 text-sm font-medium text-black sm:pl-6 md:pl-0">
		<%= link_to "/tracked_song/#{tracked_song.id}" do %>
			<div class="flex flex-row gap-4 items-center">
				<%= image_tag song.art_url, :class => "h-12 w-12 shadow-lg" %>
				<div class="flex flex-col gap-1">
					<p>
						<%= song.name %>					
					</p>
					<p class="text-xs font-gray-500 font-light">
						<%= song.artist %>
					</p>
				</div>
			</div>
		<% end %>
	</td>
	<% if !latest_stream_event %>
		<td class="whitespace-nowrap overflow-hidden py-4 px-3 text-sm text-black" id="total_streams_song_<%=song.id%>">No data</td>
		<td class="whitespace-nowrap overflow-hidden py-4 px-3 text-sm text-black" id="daily_streams_song_<%=song.id%>">No data</td>
	<% elsif latest_stream_event.status == "unresolved" %>
		<%= render "songs/total_streams_loading", song: song %>
		<%= render "songs/daily_streams_loading", song: song %>
	<% else %>
		<%= render "songs/total_streams_col", song: song %>
		<%= render "songs/daily_streams_col", song: song %>
	<% end %>
  <td class="whitespace-wrap py-4 px-3 text-sm text-black">
		<% options = get_status_options %> 
		<%= form_with(model: tracked_song, url: update_tracked_song_path(tracked_song), remote: :true, method: :patch, data: { controller: "authenticity auto-submit-form", action: "click->toggle#hide" }) do |f| %>
			<%= f.select :status, options_for_select(options, tracked_song.status), {}, { 
				id: "status_select_#{song.id}", 
				class: "border-0 bg-slate-100 rounded-full px-3 py-1 focus:ring-0 focus:outline-none focus:border-0 w-36 text-sm",
				data: { "auto-submit-form-target": "statusSelect" }
			}%> 
		<% end %> 
	</td>
  <% if user.label_id then %>
		<td class="whitespace-wrap py-4 px-3 text-sm text-black"><%=User.find(tracked_song.user_id).name.split.map(&:first).join%></td>
	<% end %>
	<td class="whitespace-wrap py-4 px-3 text-sm text-black">
		<%= button_to tracked_song_path(tracked_song.id), data: { turbo_frame: "page", turbo_action: "advance" }, method: :get do %>
  		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  			<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
			</svg>
  	<% end %>
	</td>
</tr>