<!DOCTYPE html>
<html>
  <head>
    <title>Searchlight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<meta name="Searchlight: A web app for tracking song data">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
		<%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <main class="container mx-auto px-5">
			<p class="text-center text-green-700 h-8"><%= notice %></p> 
			<% if current_user %>
				<%= render "layouts/nav" %>
			<% end %>
      <%= yield %>
			<p class="my-2 text-center text-amber-700 font-medium"><%= alert %></p>
    </main>
  </body>
</html>
